<div class="card">
  <h1 class="card-header">About NostradmsX</h1>
  <div class="card-body">


<p>NostradmsX is the pseudonym I started using way back during the prominence of AOL and Yahoo. I have varying genesis stories associated with this pseudonym.
</p><p>
No_Str_A = Altruism
</p><p>
It all started when I took probono projects and started using “no_str_a” (no strings attached) as signature and AOL account username. I later dropped the underscores and preferred being called “nostra”. Back then, I offered to create websites, graphic arts, and pamphlets for bands, churches, and non-profits. In return, I asked for permission to include my works for project submissions in school. So, I guess it is not entirely altruistic, but “enabling” people and businesses using technology became an ideal.
</p>
</div>
</div>