<div class="card">
  <h1 class="card-header">Playlist Builder</h1>
  <div class="card-body">
  
  
<p>Music taste may be subjective but we can discover good music from one another. This app is created for Users who wants to curate their song playlists. This app is created using Ruby on Rails. </p>  </div>
</div>