<h1>Welcome to Mojojojow's Playlist</h1>
<div class="box show">
<p>Music taste may be subjective but we can discover good music from one another. In this page, Mojojojow curates some of the songs she like that are not too trendy, but may be even better than current top hits. </p>
</div>