<div class="box show">
<%= render @song %>
</div>
<div>
  <%= link_to "Edit this song", edit_song_path(@song), class: "btn btn-success" %> 
  <%= link_to "Back to songs", songs_path, class: "btn btn-warning" %>
<br/>
</div>
