@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.box {
    background-color: rgb(207, 213, 243);
 
    display: flex;
    align-items: left;
    justify-content: left;
    width: auto;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(200%);
    transition: transform 0.4s ease;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
}
.box a{
    color:rgb(3, 2, 7);
}

.box:nth-of-type(even) {
    transform: translateX(-200%);
}


.box.show {
    transform: translateX(0);
}

.box h2 {
    font-size: 42px;
}